.pooj_d{
  height: 80px;
  border: 1px solid rgb(14, 116, 119);
  margin-top: 30px;
  width: 40%;
  margin-left: 30%;
  background-color: teal;
  box-shadow: 5px 10px;
}
.name{
  color: rgb(182, 61, 13);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 10px;
  text-shadow: 1px 1px #f3f0f0;
}
.dates{
  text-align:center;
  margin-top:20px;
height: 60px;
margin-left: 10%;
width: 400px;
 
  margin-bottom: 20px;

 
}

/* .rs-picker-default .rs-picker-toggle.rs-btn {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 282px;
} */

/* picked date align */
/* .rs-picker-default .rs-picker-toggle {
  position: relative;
  z-index: 5;
  padding-right: 67px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  color: #575757;
  border: 1px solid #e5e5ea;
  padding-left: 44px;
} */
/* calander align */
.rs-picker-toggle-caret {
  display: inline-block;
  margin-right: 240px;
  position: absolute;
  top: 8px;
  right: 12px;
  font-weight: normal;
  color: #8e8e93;
}

/* ok button style */
/* .rs-picker-toolbar-right-btn-ok { 
  text-align: center; 
  cursor: pointer;
  outline: 0 ; 
  border: none; 
  padding: 8px 12px; 
  font-size: 14px; 
  border-radius: 30px;
  color: #fff;
  background-color: #3498ff;
  width: 100px;
} */

/* range style */
.rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
  padding-left: 0;
  padding-right: 0;
  border-radius: 21px;
  display: inline-block;
  height: max-content;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
